{% extends 'base.html' %}

{% block home_onto %} class="active" {% endblock %}
{% block content %}

    <h1 align="center">Ontology</h1>
<nav id="navigation_bar" class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul align="center" class="nav nav-pills nav-justified black">
                <li role="presentation" {% block relation %}{% endblock %}><a href="/relation">Relations</a></li>
                <li role="presentation" {% block category %}{% endblock %}><a href="/category">Categories</a></li>
            </ul>
        </div>
    </nav>
{% block home_content %}{% endblock %}



{% endblock %}