  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #3C3A9A; /* #3C3A9A */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #F49E5D; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

  .hide{
      display: none;
  }