body {
    padding-top: 65px;
    width: 800px;
    margin: 0 auto;
}

*{
    font-family: Ubuntu;
}

.panel-primary{
    border-color: black;
}

.panel-primary > .panel-heading {
    background-image: none;
    background: #000000;
    color: #fff;
}

.nav-pills > li > a {
    border-radius: 4px;
    color :  black;
}

 .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: white;
        background-color: black;
    }

.nav-pills > li.active > a:hover {
    background-color: #2B3837;
    color:white;
}

a.expand_link{
    color: white;
}

.btn-floating {
    margin-top: -10px;
    margin-left: 760px;
    position: fixed;
}

.panel-gambi {
    margin-top: -50px;
}


footer{
    margin: 0 auto;
    bottom: 0;
    border-top: solid #000000 1px;
    border-top-style: inset;
    width: 300px;

}

.clickable {
    cursor: pointer;
}

.image-center {
    display: block;
    margin: auto;

}

select{
    width : 100px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.imageload {
    width: 100px;
    height: auto;
}