{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <link rel="icon"
      type="image/png"
      href="{% static 'Onto_Manipulation/mall.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Onto_Manipulation/ontomap.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'Onto_Manipulation/about_us.css' %}">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.knob/1.2.2/jquery.knob.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
    <script type="text/javascript" src="http://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'Onto_Manipulation/hideselect.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Ubuntu" rel="stylesheet">

    <script type="text/javascript" src="{% static 'dialog.js' %}"> </script>


    <title>NELL's Ontology Manipulation</title>

</head>
<body>

<div class="preloader">
    <img class="imageload image-center" src="{% static 'Onto_Manipulation/mall.png' %}">
</div>

{% block body %}
{% endblock %}
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="{% static 'Onto_Manipulation/mall.png' %}"  >
                <a class="navbar-brand" href="/">Ontology Editor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" {% block edit_onto %}{% endblock %}>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ontology
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" data-target="#editModal" class="clickable">Edit</a></li>
                            <li><a href="/download_xml">Download XML</a></li>
                            <li><a href="/download_xls">Download XLS</a></li>
                            <li><a href="/upload_xml" id="openUploadXML">Upload XML</a></li>
                            <li><a href="/upload_xls" id="openUploadXLS">Upload XLS</a></li>
                        </ul>
                    </li>
                    <li {% block onto_converter %}{% endblock %}><a href="/convert">About Us</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Admin</a></li>
                        <li><a href="#">Usuario</a></li>
                        <li role="separator" class="divider"></li>

                    </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

    </nav>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

<div class="modal" id="uploadModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Upload XML</h4>

            </div>
            <div class="modal-body" id="modal-body">
                <div id="upload">
                    <form action="/upload_xml/" enctype="multipart/form-data" method="POST" id="myform">
                        {% csrf_token %}
                        <input type="file" name="xmlfile" id="xmlfile" />
                        <br>
                        <div class="fileupload-buttonbar">
                            <div>
                                <button type="submit" class="btn btn-success" id="submit"> <i class="glyphicon glyphicon-upload"></i><span>Upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel"> <i class="glyphicon glyphicon-ban-circle"></i><span>Clear</span>
                                </button>
                            </div>
                        </div>
                        <ol class="files upload-files-list"></ol>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="uploadModalXLS" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Upload XLS</h4>

            </div>
            <div class="modal-body" id="modal-body">
                <div id="upload">
                    <form action="/upload_xls/" enctype="multipart/form-data" method="POST" id="myform">
                        {% csrf_token %}
                            <label>Category</label>
                            <input type="file" name="xlscategory" id="xlscategory" required="true" />
                            <br>
                            <label>Relation</label>
                            <input type="file" name="xlsrelation" id="xlsrelation" />
                            <br>
                        <div class="fileupload-buttonbar">
                            <div>
                                <button type="submit" class="btn btn-success" id="submit"> <i class="glyphicon glyphicon-upload"></i><span>Upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel"> <i class="glyphicon glyphicon-ban-circle"></i><span>Clear</span>
                                </button>
                            </div>
                        </div>
                        <ol class="files upload-files-list"></ol>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="False">&times;</button>
        <h4 class="modal-title">Select your Ontology</h4>
      </div>
      <div class="modal-body">
        <p>Please select the ontology you want to edit: </p>
      <div class="btn-group-vertical" role="group">
          {% for onto in list %}
              {% if onto == "ontology" %}
                    <a class="btn btn-primary btn-lg" href="/edit/default/">Default</a>
              {% else %}
                    <a class="btn btn-default btn-lg" href="/edit/{{ onto }}/">{{ onto }}</a>
              {% endif %}
          {% endfor %}
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>

</html>