<h1 align="center">Relation</h1>
<br>
<br>

{% extends 'base.html' %}

{% block edit_onto %}class="active"{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" action=".">
             {% csrf_token %}
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Relation Name</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="relationName" name="relationName">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Human Format</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="humanFormat" name="humanFormat">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Visible</label>
                <div class="btn-group col-sm-7" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="visible" id="visible" value="1" autocomplete="off" checked> Sim
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="visible" id="visible" value = "0" autocomplete="off"> Nao
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Domain</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="domain" name="domain">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Range</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="range" name="range">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Mutex Exception</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="mutexExceptions" name="mutexExceptions">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Know Negatives</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="knownNegatives" name="knownNegatives">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Inverse</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="inverse" name="inverse">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Seed Instances</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="seedInstances" name="seedInstances">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Seed Extraction Patterns</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="seedExtractionPatterns" name="seedExtractionPatterns">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">ConceptSynonyms</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="synonyms" name="synonyms">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="author" name="author">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="description" name="description">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Comment</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="" id="comment" name="comment">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-7 col-sm-2">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save
                    </button>
                    <a href="/relation/" class="btn btn-default pull-right" role="button" >Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}