{% extends 'home.html' %}

{% block relation %}class="active"{% endblock %}

{% block home_content %}
    {% for relation in Ontology.Relations.Relation %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                Relation name: {{ relation.relationName }}
            </div>
            <div class="panel-body">
              <p><b>Human Format: </b>{{ relation.humanFormat }}</p>
              <p><b>Domain: </b>{{ relation.domain }}</p>
              <p><b>Range: </b>{{ relation.range }}</p>
              <p><b>Mutex Exceptions: </b>{{ relation.mutexExceptions }}</p>
              <p><b>Known Negatives: </b>{{ relation.knownNegatives }}</p>
              <p><b>Inverse: </b>{{ relation.inverse }}</p>
              <p><b>Author: </b>{{ relation.author }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}