{% extends 'home.html' %}

{% block relation %}class="active"{% endblock %}

{% block home_content %}
    <a href="/edit_rel/" class="btn btn-default" role="button"><strong>New Relation</strong>
    </a>
    <br>
    <br>

    {% for relation in Ontology.Relations.Relation %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                Relation name: {{ relation.relationName }}
                <a href="/edit_rel/" class="btn btn-default pull-right" role="button" >
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <p><b>Human Format: </b>{{ relation.humanFormat }}</p>
              <p><b>Domain: </b>{{ relation.domain }}</p>
              <p><b>Range: </b>{{ relation.range }}</p>
              <p><b>Mutex Exceptions: </b>{{ relation.mutexExceptions }}</p>
              <p><b>Known Negatives: </b>{{ relation.knownNegatives }}</p>
              <p><b>Inverse: </b>{{ relation.inverse }}</p>
              <p><b>Author: </b>{{ relation.author }}</p>
              <p><b>Visible: </b>{{ relation.visible }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}